body {
  margin: 2em;
  background-color: $color-bg;
}

.slider {
  @extend %list-nostyle;

  position: relative;
  width: 620px;
  margin: 0 auto;
}

.slider__slide {
  position: relative;

  img {
    display: block;
  }

  div {
    position: absolute;
    left: 0;
    bottom: 1em;
    width: 100%;
    color: gray;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
}

// Slidy


.slidy-outer {
  position: relative;
  width: 620px;
  margin: 0 auto;
}

.slidy {
  position: relative;
  overflow: hidden;
  width: 620px;
  background-color: white;
}

.slidy__item {
  position: absolute;

  // &.is-current {
  //   z-index: 1;
  // }

  // &.is-next {
  //   z-index: 2;
  // }

  + .slidy__item {
    // opacity: 0;
    transform: translateX(100%)
  }
}

.slidy-controls {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: -4em;
  width: calc(100% + 8em);
  transform: translateY(-50%);
}

.slidy-controls__item--prev {
  float: left;
}

.slidy-controls__item--next {
  float: right;
}

[class*="slidy-controls__item--"] {
  border: 1px solid $white;
  padding: .75em 1em;
  background: none;
  color: $white;
  transition: background-color .5s ease-in-out;

  &:hover {
    background-color: fade-out($black, .5);
  }
}

.slidy-nav {
  @extend %list-nostyle;

  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.slidy-nav__item {
  button {
    border: 1px solid $white;
    padding: .75em 1em;
    background: none;
    color: $white;
    transition: background-color .5s ease-in-out;
  }

  &.is-active,
  &:hover {
    button {
      background-color: fade-out($black, .5);
    }
  }
}

#destroy {
  position: fixed;
  bottom: 1em;
  left: 1em;
  border: 0;
  padding: .5em;
  background-color: fade-out($black, .5);
  color: $white;
}
